.custom-article-card {
  max-width: 900px;
  width: 90%;
  border: 1px solid #ddd;
}

.contenedor-imagen {
  justify-content: center;
  align-items: center;
}

.dimension-images {
  width: 100%;
  height: 380px;
  object-fit: cover;
}
